.so-widget-sow-icon-default-5f2308c957da .sow-icon {
  text-align: center;
}
.so-widget-sow-icon-default-5f2308c957da .sow-icon span,
.so-widget-sow-icon-default-5f2308c957da .sow-icon a span {
  display: inline-block;
  color: #1a3c4c !important;
  font-size: 50px !important;
}